:root{
    --skyblue: #ADE8F4;
    --lighter-skyblue: #CAF0F8;
    --darker-skyblue: #90E0EF;
    --light-blue: #48CAE4;
    --blue: 00B4D8;
    --blue-shade1: #0096C7;
    --deep-blue: #0077B6;
    --dark-blue: #023E8A;
    --black: #010114;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    .mid-nav{
        a{
        color: black;
        text-decoration: none;
        padding: 20px;
    }}
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--light-blue);
    p{
        padding: 5px;
    }
}


.banner{
    background-color: var(--skyblue);
    display: flex;
    justify-content: space-evenly;
    h1{
        color: var(--dark-blue);
    }
}

.image{
    background: url(../Images/doc9.jpg);
    height: 30vh;
    width: 15vw;
    background-size: contain;
}
.icons{
    background-color: var(--blue-shade1);
    color: white;
    font-size: x-large;
    height: 4.5vh;
    width: 7vw;
    border-radius: 5px;
    padding-left: 5px;
    i{
        margin: 0px;
        padding: 0px;
    }
}
.left-section{
    i{
        color: var(--dark-blue);
    }
    .box{
        display: flex;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        width: 20vw;
        justify-content: space-evenly;
    }
    .time1,.time2,.time3{
        display: flex;
    }
}
.i{
    display: flex;
}
i{
    margin: 2px;
    padding-right: 5px;
}
.appointment-section{
    display: flex;
    justify-content: space-around;
    background-color: var(--skyblue);
}

.bottom-div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    .left{
        h1{
            color: var(--dark-blue);
        }
        p{
            color: var(--blue-shade1);
        }
    }
    .right{
        background-image: url(../Images/8dd25d9051cbef9c3a4518b67a7abdf6.jpg);
        height: 20vh;
        width: 20vh;
        background-size: cover;
    }
}

form{
    margin: 20px;
    h2{
        color: var(--deep-blue);
    }
    h1{
        color: var(--dark-blue);
    }
    input{
        background: var(--skyblue);
    }
    #submit{
        background-color: var(--dark-blue);
        color: white;
        margin: 5px;
        padding: 5px;
        font-size: large;
        border-radius: 15px;
        border: 0px;
    }
    p{
        margin: 5px;
    }
}
.image-box{
    background: url(../Images/doctor.jpg);
    height: 55vh;
    width: 25vw;
    background-size: cover;
    margin-top: 3%;
}