:root{
    --skyblue: #ADE8F4;
    --lighter-skyblue: #CAF0F8;
    --darker-skyblue: #90E0EF;
    --light-blue: #48CAE4;
    --blue: 00B4D8;
    --blue-shade1: #0096C7;
    --deep-blue: #0077B6;
    --dark-blue: #023E8A;
    --black: #010114;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    .mid-nav{
        a{
        color: black;
        text-decoration: none;
        padding: 20px;
    }}
}
.container{
    .banner{
        background-color: var(--skyblue);
        display: flex;
        height: 24vh;
        justify-content: space-evenly;
        h1{
            color: var(--dark-blue);
            margin-top: 25px;
        }
    }
    .image{
        background: url(../Images/Man-Stock-Photos.jpg);
        background-repeat: no-repeat;
        scale: 1.5;
        margin-top: 40px;
        height: 15vh;
        width: 10vw;
        background-size: contain;
    }
}
.container-box{
    margin: 5vh;
    margin-left: 22vw;
    height: 60vh;
    width: 60vw;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    .upper{
        display: flex;
        justify-content: space-around;
        .height{
            height: 75px;
            width: 75px;
            background: rgba( 215, 26, 26, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3vh;
        }
        .weight{
            height: 75px;
            width: 75px;
            background: rgba( 128, 26, 215, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3vh;
        }
        .age{
            height: 75px;
            width: 75px;
            background: rgba( 24, 102, 225, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3vh;
        }
    }
    .lower{
        h2{
            color: var(--dark-blue);
            text-align: center;
            margin: 2vh;
        }
        .box{
            margin-top: 5vh;
            height: 5vh;
            width: 30vw;
            margin-left: 15vw;
            display: flex;
            justify-content: space-around;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
    }
}
.bottom-div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    .left{
        h1{
            color: var(--dark-blue);
        }
        p{
            color: var(--blue-shade1);
        }
    }
    .right{
        background-image: url(../Images/8dd25d9051cbef9c3a4518b67a7abdf6.jpg);
        height: 20vh;
        width: 20vh;
        background-size: cover;
    }
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--light-blue);
    p{
        padding: 5px;
    }
}
