:root{
    --skyblue: #ADE8F4;
    --lighter-skyblue: #CAF0F8;
    --darker-skyblue: #90E0EF;
    --light-blue: #48CAE4;
    --blue: 00B4D8;
    --blue-shade1: #0096C7;
    --deep-blue: #0077B6;
    --dark-blue: #023E8A;
    --black: #010114;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    .mid-nav{
        a{
        color: black;
        text-decoration: none;
        padding: 20px;
    }}
}
.container{
    .banner{
        background-color: var(--skyblue);
        display: flex;
        justify-content: space-evenly;
        h1{
            color: var(--dark-blue);
        }
    }
    .image{
        background: url(../Images/Patient.jpg);
        height: 28vh;
        width: 10vw;
        background-size: contain;
    }
}
.bottom-div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    .left{
        h1{
            color: var(--dark-blue);
        }
        p{
            color: var(--blue-shade1);
        }
    }
    .right{
        background-image: url(../Images/8dd25d9051cbef9c3a4518b67a7abdf6.jpg);
        height: 20vh;
        width: 20vh;
        background-size: cover;
    }
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--light-blue);
    p{
        padding: 5px;
    }
}
